/*********************
Site Global Styles
*********************/

* {
  font-family: "Merriweather sans"; 
  font-size: 14px;
  color: black;
  text-decoration: none;

}





/*********************
DOM Seperated Styles
*********************/

header {
  width: 78%;
  background-color: grey;
  display: inline-block;
}

nav {
  width: 18%;
  float: right;
  text-align: right;
  white-space: nowrap;
}




/*********************
DIV Styling
*********************/






/*********************
Element Specific Styles
*********************/





/*********************
*********************/




/*********************
CLASS STYLES
*********************/
.social-icon {
  width: 30px;
  height: 30px;
}



/*********************
ID STYLES
*********************/

#compLogo {
  height: 125px;
  width: 125px;
}

#links {
  list-style-type: none;
}