@media screen and (min-width: 1px) {

	#compLogoLocation {
  	clear: right;
  	width: 100%;
  }

}

@media screen and (min-width: 450px) {
  
  #compLogoLocation {
  	clear: right;
  	width: 100%;
  }

}
  
  
@media screen and (min-width: 650px) {
  
  .main-header {
    height: 600px;
  }
}

@media screen and (min-width: 1200px) {
  
  .main-header {
    height: 1000px;
  }
}