@media screen and (min-width: 450px) {
  
  .main-header {
    height: 500px;
  }
}
  
  
@media screen and (min-width: 650px) {
  
  .main-header {
    height: 600px;
  }
}

@media screen and (min-width: 1200px) {
  
  .main-header {
    height: 1000px;
  }
}